@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@tailwind base;
@tailwind components;
/* styles.css */
@keyframes myAnime {
    0%, 100% {
      border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
    50% {
      border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }
  }
  
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:wght@500&family=Ubuntu&display=swap');
/* @layer base{
    html{
        font-family: 'Ubuntu', sans-serif;
    }
} */